@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  width: 95%;
  margin: auto;
  overflow-x: hidden;
}

body .roadmap {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 910px;
  gap: 10px;
}

body .roadmap .q,
body .roadmap .g {
  max-width: 450px;
  width: 100%;
  height: 450px;
  background-position: center center;
  background-size: cover;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  padding: 15px;
  position: relative;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .roadmap .q h1,
body .roadmap .g h1 {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 5px 0;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body .roadmap .q .content,
body .roadmap .g .content {
  position: absolute;
  left: 0;
  bottom: 50%;
  width: 100%;
  padding: 0 50px;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

body .roadmap .q .content h3,
body .roadmap .g .content h3 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
}

body .roadmap .q .content ul,
body .roadmap .g .content ul {
  list-style: none;
}

body .roadmap .q .content ul li,
body .roadmap .g .content ul li {
  text-align: center;
  margin: 15px 0;
}

body .roadmap .q:hover,
body .roadmap .g:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

body .roadmap .q:hover h1,
body .roadmap .g:hover h1 {
  opacity: 0;
  padding: 15px 0;
  pointer-events: none;
}

body .roadmap .q:hover .content,
body .roadmap .g:hover .content {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

body .roadmap .g {
  z-index: 1;
  max-width: 910px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(./img/g.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(./img/g.jpg);
  background-position: top center;
}

body .roadmap .g .content ul {
  list-style: none;
}

body .roadmap .g .content ul li {
  text-align: center;
  font-size: 1.2rem;
}

body #back {
  text-align: center;
}

body #back a {
  display: inline-block;
  margin: 50px auto;
  font-size: 2rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 2px solid #00ab94;
  border-radius: 5px;
  padding: 15px;
}

body #back a i {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  margin-right: 15px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

body #back a:hover {
  color: #00ab94;
}

body #back a:hover i {
  color: #f2a900;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

@media only screen and (max-width: 957px) {
  body .roadmap .g {
    max-width: 450px;
  }
  body #back a {
    font-size: 1.5rem;
  }
  body #back a i {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
/*# sourceMappingURL=style.css.map */